<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <div id="login">
    <% if(messages.error){ %>
       <h4><%= messages.error %></h4>
    <% } %>
        <a href="/"><i class="ri-arrow-left-line"></i>Go To Homepage</a>
        <h4>Login
            <hr>
           <form action="/login" method="POST">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input type="Submit" value="Login">
        </form>
       <div class="option">
        <a href="/register">Register New Account</a>
        <a href="/">Forgot password</a>
       </div>
    </h4>
    </div>
</body>
</html>